@keyframes loading
  0%
    z-index: 999
    opacity: 0.7
  33%
    opacity: 0.3
  66%
    opacity: 0.7
  100%
    z-index: -1
    opacity: 0


@keyframes rotate
  from
    transform: rotate(0) scale(1)
  to
    transform: rotate(360deg) scale(3)


@function dark($color, $percentage)
  @return darken($color, $percentage)

