$color-primary: #9356DC
$color-secondary: #FF79DA
$color-tertiary: #99E2D0
 @font-face
   font-family: Shrikhand
   src: url("../font/Shrikhand-Regular.otf")

body
  width: 100%
  font-family: "Roboto Light", sans-serif

footer
  background-color: black

h1, h2, h3
  font-family: Shrikhand, Arial, sans-serif


.reservation, .restaurant
  background-color: lightgray

